<!-- Block for displaying the menu -->
<h1>Menu</h1>
<ul class="nav nav-pills">
  <% Section.all.each do |section| %>
  <li class="nav-item">
    <%= link_to section.name, menu_path(section: section.name), class: "nav-link #{'active' if params[:section] == section.name}" %>
  </li>
  <% end %>
</ul>

<div class="card card-block">
  <%= form_tag nil, method: 'get' do %>
    <%= hidden_field_tag :section, params[:section] %>
    <div class="form-inline">
        <%= select_tag :sort_column, options_for_select([['Name', 'name'], ['Price', 'price']]), class: 'form-control' %>
        <%= select_tag :sort_direction, options_for_select([['Asecending', 'asc'], ['Desencding', 'desc']]), class: 'form-control' %>
        <%= submit_tag "Sort", class: "btn btn-secondary" %>
      </div>
      <% end %>
</div>


<!-- Custom CSS -->
<div class="row <%= controller_name %>" id="menu">
  <% @food_items.each do |item| %>
  <div class="col-md-4">
    <div class="card-header"><%= link_to item.name, food_items_path+"/#{item.id}" %></div>
        <%= image_tag item.image_url_or_auto, class: "card-img-top" %>
      <div class="card-block">
        <h4>Price:</h4><%= item.price %>
        <h4>Description:</h4><%= item.description %>
        <h4>Section:</h4><%= item.section.name %><br>
        <%= link_to 'Order', new_food_item_order_path(item), class: "btn btn-danger" %>
  </div>
</div>
<% end %>
