<h1>Menu</h1>
<div class="row">
  <div class="col-md-9 col-md-push-3">
    <div class="btn-group" role="group" aria-label="Basic example">
      <% Section.all.each do |section| %>
        <%= link_to section.name, menu_path(section_id: section.id), class: "btn #{params[:section_id] == section.id.to_s ? 'btn-primary' : 'btn-secondary'}" %>
      <% end %>
    </div>
  </div>
  <div class="col-md-3 col-md-pull-9">
    <%= form_tag nil, method: 'get' do %>
      <%= hidden_field_tag :section_id, params[:section_id] %>
        <%= select_tag :sort_column, options_for_select([['Name', 'name'], ['Price', 'price']]) %>
        <%= select_tag :sort_direction, options_for_select([['Asecending', 'asc'], ['Desencding', 'desc']]) %>
        <%= submit_tag "Sort", class: "btn btn-sm btn-success" %>
    <% end %>
  </div>
</div>

<div class="row">
  <% for item in @food_items %>
    <div class="col-md-4">
      <div class="card" style="width: 20rem;">
        <%= image_tag item.image_url_or_auto, class: "card-img-top" %>
        <div class="card-block">
          <h4 class="card-title"><%= link_to item.name, food_items_path+"/#{item.id}" %></h4><p>
          <p class="card-text">
            <h4>Description:</h4>
            <p class="description"><%= item.description %></p>
            <h4>Section:</h4>
            <p><%= item.section.name %></p>
            <% unless item.reviews.size == 0 %>
              <%= link_to pluralize(item.reviews.size, "review"), food_item_reviews_path(item) %>
            <% end %>
          </p>
          <%= form_for @order_item, url: {:controller => 'order_items', action: "create"} do |f| %>
          <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency item.price %></span></h4>
            <div class="input-group">
              <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
              <div class="input-group-btn">
                <%= f.hidden_field :food_item_id, value: item.id %>
                <%= f.hidden_field :unit_price, value: item.price %>
                <%= f.submit "Add to Cart", class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= will_paginate @food_items, :container => false %>
