<h1>Menu</h1>

<ul class="nav nav-pills">
  <% Section.all.each do |section| %>
  <li class="nav-item">
    <%= link_to section.name, menu_path(section: section.name), class: "nav-link #{'active' if params[:section] == section.name}" %>
  </li>
  <% end %>
</ul>

<% if @section %>
  <% @section.food_items.each do |food| %>
  <div class="card">

    <div class="card-block">
      <h3>Food Item:</h3>
      <%= food.name %>
    </div>

    <div class="card-block">
      <h3>Price:</h3>
      <%= food.price %>
    </div>

    <div class="card-block">
      <h3>Description:</h3>
      <%= food.description %>
    </div>
    <div class="card-block">
      <h3>Picture:</h3>
      <%= image_tag food.image_url_or_auto %>
    </div>
  </div>
  <% end %>
<% end %>
