<!-- Block for displaying the menu -->
<h1>Menu</h1>
<div class="row">
<ul class="nav nav-pills">
  <% Section.all.each do |section| %>
  <li class="nav-item">
    <%= link_to section.name, menu_path(section: section.name), class: "nav-link #{'active' if params[:section] == section.name}" %>
  </li>
  <% end %>
</ul>
</div>

<!-- Menu Items
<% if @section %>
<%= link_to "Sort by Name", menu_path(section: @section.name, sort_by: 'alphabetical'), class: "btn btn-danger" %>

  <% @section.food_items.each do |food| %>

  <div class="card" id="demo">

    <div class="card-block">
      <h1><%= food.section %></h1>
      <h2>Food Item:</h2>
        <h6><%= food.name %></h6>

      <span class="label label-default">
        <h2>Order Count:</h2>
        <h6><%= food.orders.size %></h6>
      </span>

      <h2>Price:</h2>
        <h6><%= food.price %></h6>

      <h2>Description:</h2>
        <h6><%= food.description %></h6>

      <%= link_to 'Order', new_food_item_order_path(food.id), class: "btn btn-danger" %>
    </div>

    <div class="card-block">
      <%= image_tag food.image_url_or_auto, style: "center" %>
    </div>

  </div>
  <% end %>
<% end %>
-->

<% if @section %>
  <table class="table-hover col-sm-12" id="sortedTable">
    <thead>
      <tr>
        <th>Food Name</th>
        <th>Price</th>
        <th>Submit Order</th>
        <th>Picture</th>
      </tr>
    </thead>
    <tbody>
    <% @section.food_items.each do |food| %>
    <tr>
      <td><%= link_to food.name, food_items_path+"/#{food.id}" %></td>
      <td><%= food.price %></td>
      <td><%= link_to 'Order', new_food_item_order_path(food.id), class: "btn btn-danger" %></td>
      <td><%= image_tag(food.image_url_or_auto) %></td>
    </tr>
    <% end %>
  </tbody>
  </table>
<% end %>
