<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food_item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @food_item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @food_item.price %>
</p>

<p>
  <strong>Food Section:</strong>
  <%= @food_item.section.name %>
</p>
<p>
  <strong>Food Image:</strong>
  <%= image_tag @food_item.image_url_or_auto %>
</p>


<!-- <p>
  <strong>Section:</strong>
  <%= @food_item.section %>
</p> -->

<%= link_to 'Edit', edit_food_item_path(@food_item), class: "btn btn-primary" %> |
<%= link_to 'Order', new_food_item_order_path(@food_item.id), class: "btn btn-danger" %>
