<!DOCTYPE html>
<html>
  <head>
    <title>CS Restaurant</title>
    <%= csrf_meta_tags %>
    <link rel="icon" href="http://3.bp.blogspot.com/-jloNsekiQE0/T4wnY9Y5tOI/AAAAAAAADxQ/XefoaBaMGB8/s1600/icon_rails.png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

    <!-- Main Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        CS Restaurant
      <% end %>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to menu_path, class: "nav-link" do %>
              <i class="fa fa-book"></i> Menu
            <% end %>
            <% if current_user %>
              <li class="nav-item">
                <%= link_to new_food_item_path, class: "nav-link" do %>
                  <i class="fa fa-plus"></i> New Item
                <% end %>
              </li>
              <%= link_to "#{current_order.order_items.size} Items in Cart ( #{number_to_currency current_order.subtotal} )", order_path(current_order), class: "nav-link" %>
            <% else %>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: "nav-link" do %>
                  <i class=""></i> Sign Up
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: "nav-link" do %>
                  <i class=""></i> Log In
                <% end %>
              </li>
            <% end %>
            <%= form_tag(menu_path, :method => "get", class: "form-inline pull-xs-right") do %>
               <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
               <%= submit_tag "Search", class: "btn btn-success" %>
            <% end %>
        </ul>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <i class="fa fa-user-circle fa-2x dropdown-toggle" data-toggle="dropdown"></i>
            <ul class="dropdown-menu">
            <li class="nav-item">
              <%= link_to edit_user_registration_path, class: "navbar-right" do %>
                Profile
                <% end %>
            </li>
            <li class="nav-item">
              <a href="#">Orders</a>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class=""></i> Log Out
              <% end %>
            </li>
            </ul>
          </li>
        </ul>
  </nav>
    <!-- Flash -->
    <div class="container">
      <%= flash_messages %>
    </div>

    <div class="container wrapper">
      <%= yield %>
      <div class="push"></div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
