<!DOCTYPE html>
<html>
  <head>
    <title>Food</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

    <!-- Navigation -->

    <nav class="navbar" id="nav">
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <%= link_to "CS Food Store", root_path, class: "navbar-brand" %>
        </li>
        <li class="nav-item">
          <%= link_to "New Item", new_food_item_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Menu", menu_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact Us", contact_us_path, class: "nav-link" %>
        </li>
      </ul>

      <%= form_tag(root_path, :method => "get", class: "form-inline pull-xs-right") do %>
             <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
             <%= submit_tag "Search", class: "btn btn-outline-success" %>
      <% end %>
    </nav>

  <div class="container">
    <% if flash[:error] %>
      <div class="alert alert-danger"><%= flash[:error] %> </div>
    <% end %>

    <% if flash[:success] %>
      <div class="alert alert-success"><%= flash[:success] %> </div>
    <% end %>
    <%= yield %>







  </div>
  </body>
</html>
