<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant</title>
    <%= csrf_meta_tags %>
    <link rel="icon" type="image/png" href="/assets/favicon.ico">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :js %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <!-- Navigation -->
    <nav class="navbar">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <%= link_to root_path, class: "navbar-brand" do %>
            CoderSchool Restaurant
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to menu_path, class: "nav-link" do %>
            <i class="fa fa-book"></i> Menu
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to contact_us_path, class: "nav-link" do %>
            <i class="fa fa-phone"></i> Contact Us
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_food_item_path, class: "nav-link" do %>
            <i class="fa fa-plus"></i> New Item
          <% end %>
        </li>
      </div>
      </ul>

      <%= form_tag(menu_path, :method => "get", class: "form-inline pull-xs-right") do %>
         <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
         <%= submit_tag "Search", class: "btn btn-success" %>
      <% end %>
    </nav><br />
    
    <!-- Flash -->
    <%= flash_messages %>

    <div class="container wrapper">
      <%= yield %>
      <div class="push"></div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
